div.row
	div.large-6.medium-8.small-10.columns
		h2 Terms of Service
		p (what we do, what you can expect, and how you use it)
		ul
			li posted: Friday, 11 April 2014
			li effective: Friday, 11 April 2014

div.row
	div.large-12
		p Thanks for using cshenley.com. These terms of service ("Terms") cover your use and access to the services and websites ("Services") provided by cshenley.com and gooseberrypublishing.com (my publishing house). My Privacy Policy explains how we collect and use your information.  By using our Services, you're agreeing to be bound by these Terms, and that you have thoroughly reviewed and accepted our Privacy policies.
		
		h3 Who We Are
		p Gooseberry Publishing ('GBP') is the legal entity that publishes this website (cshenley.com) as well as several others, including endleland.com (a reference for the fictional world of Endleland), and gooseberrypublishing.com (the publishing company's website that represents all of it's writers).
		p GBP is a publishing company.

		h3 Your Stuff &#38; Your Permissions
		p When you use our Services, you provide us with things like your email address, your name, and shipping information ("Your Stuff"). These Terms only give us limited rights to Your Stuff to allow us to offer you our Services. Here are some details on those rights:
		
		h4 Sharing Your Stuff
		p GBP doesn't share your stuff with anyone.  No advertisers.  No third parties.

		h4 My Services
		p The nature of the Services currently provided is an email-based mailing list whereby GBP will let you know when new things of interest are available either on cshenley.com or for sale through vendors like amazon.com (who currently sells my books).
		p In the future, GBP will be offering books for sale on my site.

		h3 My Stuff
		p The Services and the content (all my writing and artwork) ("Content") are protected by copyright, trademark, and other US and foreign laws. These Terms don't grant you any right, title, license or interest of any kind in the Services or Content.  GBP welcomes feedback, but note that GBP may use your comments and suggestions without any obligation to you.
		
		h3 Termination
		p You're free to stop using GBP Services at any time. GBP also reserves the right to suspend or end the Services at any time at its discretion and without notice. To provide just a few of many possible reasons that GBP may suspend or terminate your use of the Services: you're not complying with these Terms; your use of the Services is in a manner that would cause us legal liability; your use disrupts the Services or disrupts others' use of the Services.
		
		h3 Services "AS IS"
		p GBP strives to provide great Services, but there are certain things that GBP can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, GBP AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. Some states don't allow the disclaimers in this paragraph, so they may not apply to you.  It is your responsibility to know if and when they do, as we have no way of knowing where you reside.
		
		h3 Limitation of Liability
		p TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL GBP, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT GBP HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO GBP FOR THE PAST 12 MONTHS OF THE SERVICES IN QUESTION. Some states don't allow the types of limitations in this paragraph, so they may not apply to you.
		
		h3 Resolving Disputes
		p Let's Try To Sort Things Out First. We want to address your concerns without needing a formal legal case. Before filing a claim against GBP, you agree to try to resolve the dispute informally by contacting support@gooseberrypublishing.com. We'll try to resolve the dispute informally by contacting you via email. If a dispute is not resolved within 30 days of submission, you or GBP may bring a formal proceeding as outlined below.

		h4 No Class Actions
		p You may only resolve disputes with us on an individual basis, and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren't allowed.

		h4 Judicial forum for disputes
		p You and GBP agree that any judicial proceeding (other than small claims actions) will be brought in the federal or state courts of San Francisco County, California. Both you and GBP consent to venue and personal jurisdiction there.

		h3 Controlling Law
		p These Terms will be governed by California law except where its conflicts of laws principles apply.

		h3 Entire Agreement
		p These Terms constitute the entire agreement between you and GBP with respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.

		h3 Waiver, Severability &#38; Assignment
		p GBP's failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. GBP may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.

		h3 Modifications
		p We may revise these Terms from time to time, and will always post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you (by, for example, sending a message to the email address associated with your account, posting on our blog or on this page). By continuing to use or access the Services after the revisions come into effect, you agree to be bound by the revised Terms.

div.row
	div.large-6.medium-8.small-10.columns
		h2 Privacy Policy
		p (how we treat information we collect about you in the course of your usage of our services)
		ul
			li posted: Friday, 11 April 2014
			li effective: Friday, 11 April 2014

div.row
	div.large-12
		h3 What &#38; Why
		p We collect and use the following information to provide, improve and protect our Services:
		ul
			li Account. We collect, and associate certain information with your account.  This includes information like your email address, userid and name.
			li Usage. We collect information from and about the devices you use to access the Services. This includes things like IP addresses, the type of browser and device you use, the web page you visited before coming to our sites, and identifiers associated with your devices. Your devices (depending on their settings) may also transmit location information to the Services.  Why?  Because this information tells useful things that allow us to improve our Services, some such things include: if we have bugs in certain browsers or lots of readers in other countries.
			li Cookies and other technologies. We use technologies like cookies and pixel tags to provide, improve, protect and promote our Services. For example, cookies help us with things like remembering your userid for your next visit, understanding how you are interacting with our Services, and improving them based on that information. You can set your browser to not accept cookies, but this may limit your ability to use the Services. If our systems receive a DNT:1 signal from your browser, we'll respond to that signal as outlined here.

		h3 When and How
		p We may share information as discussed below, We won't sell it to advertisers or other third-parties.
		ul
			li Others working for Gooseberry Publishing (GBP). GBP uses certain trusted third parties to help us provide, improve, protect, and promote our Services. These third parties will access your information only to perform tasks on our behalf and in compliance with this Privacy Policy.
			li Law &#38; Order. We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of GBP or our users; or (d) protect GBP's property rights.
		p Stewardship of your data is critical to us and a responsibility that we embrace. We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by the following Government Request Principles when receiving, scrutinizing and responding to government requests for our users' data:
		ul
			li Be transparent
			li Fight blanket requests
			li Provide trusted services

		h3 Changes
		p If we are involved in a reorganization, merger, acquisition or sale of our assets, your information may be transferred as part of that transaction. We will notify you (for example, via a message to the email address associated with your account) of any such transaction and outline your choices or what you want to do with Your Stuff.
		p We may revise this Privacy Policy from time to time, and will post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you.

		h3 Contact
		p Have questions or concerns about GBP, our Services and privacy? Contact us at support@gooseberrypublishing.com.








