div#about
	div#content
		div.box.details
			h1 About CS Henley
			div.image_box
				img(src="images/cshenley.jpg", alt="CS Henley drinking coffee at a fancy restaurant.  Funny thing about coffee at fancy restaurants, it always comes with fancy looking sugar cubes and adorable little pitchers of milk.  And really, sugar is sugar.  Cream is cream.  And I drink my coffee black.  But when it's laid out like that, I'm a sucker for it.", width="215", height="161")
			
			h2 Published Works
			ul
				li 
					a(href="the_alderman.html") The Alderman
				
		div.box
			p I tell stories about people who live in the strange world of Endeland.
			p I started toying with this world in 1992 and began crafting it over the summer of 1993. For the next 8 years, I tried to write about this world. Eventually, I realized that the world was too raw and incomplete.  I'm obsessively fastidious with Endleland and my writing was juvenile and lacked experience.  Well-formed ideas in my head rarely survived the journey through my fingers, the keyboard and onto the screen.  Yet, I kept trying.
			p Then, on a spur from the wife, I participated in Nanowrimo in 2010.  After 30 days I had about 60,000 words written.  But the story wasn't over.  So, I wrote through November and December.  I wrote until the story was complete.  I wrote The Alderman.
			p It took me almost a year before I returned to it for the first round of edits, then another year to actually get from that rough draft to something I could publish.  I published it in 2012.  Since then, I've been dedicated to telling the story of Endleland.

		div.clear