div.row
	div#books_and_posts.large-6.columns.small-12.book_preview
		div.book_preview
			h1 The Alderman
			a(href="#", data-reveal-id="alderman_cover", data-reveal)
				img(src="images/alderman_cover_icon.jpg")
			div#alderman_cover.reveal-modal.medium(data-reveal)
				img(src="images/alderman_cover.jpg")
				a.close-reveal-modal &#215;
			h2 Available Now
			p He promised the families riches; he promised them a place in 
				|in history -- but he didn't tell them what it would cost.  Seven 
				|desperate families offer up their sons to the Alderman of Cantoc, 
				|just as he asked.  He sent them on a mission across the dangerous Endle 
				|Mountains, to Blue Vein.  Then from there, to the war-torn city of 
				|Chalk.  Only would return, and for a reward the Alderman imprisions
				|him.
			p The Alderman is a frank look at the callousness of man, the corruption
				|power and the determination of loved ones.
		h2 Recent Posts
		div#recent_posts

	div#current_news.large-6.columns.small-12
		h1 Current News
		div.current_event
			h2 12.24.13
			p The River Goddess backstory was so much fun that I think I'll 
				|write about that as a short work after I finish this book 
				|about the Tempest and the Selters.
		div.current_event
			h2 12.17.13
			p Well, my intention to write a quaint novella has gone awry.  
				|It's turning into a novel.  The map below is the part of 
				|the Waning where it takes place.
		div.large-6.img_box
			a(href="#", data-reveal-id="selter-valley", data-reveal)
				img(src="images/t_selter-valley.jpeg")
			div#selter-valley.reveal-modal.medium(data-reveal)
				img(src="images/selter-valley.jpeg")
				a.close-reveal-modal &#215;
		div.current_event
			h2 12.8.13
			p I started dabbling with a short story about the Tempest 
				|getting a cup of coffee.  It's set just before the Dead 
				|Wars, during a stretch when he was disengaged from much 
				|of the world.
	

script.
	$(function() { 
		$.getJSON('http://blog.endleland.com/api/read/json?callback=?',
					function(response) {
						var i=0;
						var d = p = dte = "";
						for (post in response.posts) {
							if(i<3) {
								dte = response.posts[post]['date-gmt'];
								d = new Date(Date.parse(dte.substr(0,dte.indexOf(' ')), "yyyy-MM-dd"));
								p += '<div class="recent_post"><h2>' + (d.getMonth()+1) + '/' + d.getFullYear() + 
									' - </h2> <a href="' + response.posts[post].url+ '"><p>' + 
									response.posts[post]['regular-title'] + 
									'</p></a></div><div class="clear"></div>';
								i++;
							}
							else
								break;
						}
						$("#recent_posts").append(p);	
				});
	});