div.row
	div#books_and_posts.large-6.columns.small-12.book_preview
		div.book_preview
			a(href="/writing/arrangements")
				h1 Arrangements
			a(href="/writing/arrangements")
				img(src="images/on-their-own/preview-image.jpg")
			a(href="/writing/arrangements")
				h2 New Release!
			p Arrangements is a short story that features two prominent characters 
				|from my upcoming series The Barbarian.  The first book in the series, 
				|On Their Own, is slated for release in June.  As I developed Pottle and  
				|Marsa I realized I needed a bit more backstory than what I wanted 
				|to include in the novel.  Their relationship is common one, I think, but 
				|that doesn't make it any eaiser to capture on paper.  So, I wrote this 
				|short story to help me understand them.
		div.book_preview
			a(href="/writing/the-alderman")
				h1 The Alderman
			a(href="/writing/the-alderman")
				img(src="images/alderman_cover_icon.jpg")
			a(href="/writing/the-alderman")
				h2 Available Now
			p He promised the families riches; he promised them a place in 
				|in history -- but he didn't tell them what it would cost.  Seven 
				|desperate families offer up their sons to the Alderman of Cantoc, 
				|just as he asked.  He sent them on a mission across the dangerous Endle 
				|Mountains, to Blue Vein.  Then from there, to the war-torn city of 
				|Chalk.  Only would return, and for a reward the Alderman imprisions
				|him.
			p The Alderman is a frank look at the callousness of man, the corruption
				|power and the determination of loved ones.
		h2 Recent Posts
		div#recent_posts

	div#current_news.large-6.columns.small-12
		h1 Current News
		div.current_event
			h2 3.31.14
			p I just realized that there are about 18 books in the End of the 
				|Third Age Saga I want to write.  It's a bunch of seperate series that 
				|taken together tell a bigger story.
		div.current_event
			h2 3.26.14
			p Just finished the first revision pass.  It's my 
				|best work yet.  I wanted something that reminded me of the 
				|rivetting page turning books by Katherine Kurtz.  I think I did her 
				|justice.
		div.current_event
			h2 2.12.14
			p Yup, it not only turned into a novel, it's a series.  
				|There's a lot of story to tell about Pottle.  I didn't 
				|realize just who he was until I started writing about him.
		div.current_event
			h2 1.10.14
			p It's official, the novella I set out to write turned into a novel.  
				|I'm not sure yet where this is going to go, but it needs more space 
				|than what I previously afforded it.
		div.current_event
			h2 12.24.13
			p The River Goddess backstory was so much fun that I think I'll 
				|write about that as a short work after I finish this book 
				|about the Tempest and the Selters.
		div.current_event
			h2 12.17.13
			p Well, my intention to write a quaint novella has gone awry.  
				|It's turning into a novel.  The map below is the part of 
				|the Waning where it takes place.
		div.large-6.img_box
			a(href="#", data-reveal-id="selter-valley", data-reveal)
				img(src="images/t_selter-valley.jpeg")
			div#selter-valley.reveal-modal.medium(data-reveal)
				img(src="images/selter-valley.jpeg")
				a.close-reveal-modal &#215;
		div.current_event
			h2 12.8.13
			p I started dabbling with a story about the Tempest 
				|getting a cup of coffee.  It's set just before the Dead 
				|Wars, during a stretch when he was disengaged from much 
				|of the world.
	

script.
	$(function() { 
		$.getJSON('http://blog.endleland.com/api/read/json?callback=?',
					function(response) {
						var i=0;
						var d = p = dte = "";
						for (post in response.posts) {
							if(i<3) {
								dte = response.posts[post]['date-gmt'];
								d = new Date(Date.parse(dte.substr(0,dte.indexOf(' ')), "yyyy-MM-dd"));
								p += '<div class="recent_post"><h2>' + (d.getMonth()+1) + '/' + d.getFullYear() + 
									' - </h2> <a href="' + response.posts[post].url+ '"><p>' + 
									response.posts[post]['regular-title'] + 
									'</p></a></div><div class="clear"></div>';
								i++;
							}
							else
								break;
						}
						$("#recent_posts").append(p);	
				});
	});