div.row
	div.large-12
		h1.title Arrangements

div.row
	div.large-12.columns

		p Pottle led Marsa to where the River of the Lady wrapped around a rocky outcropping like a moat. This spot had been his childhood hideout. It looked out eastward, above a forest of redwoods, so that it received the morning sun and the redwoods sheltered the spot from the hotter afternoon light.   He and Adler, his brother, would sneak there whenever they wouldn’t be missed.  They were best friends in the way that brothers are until they've made their own friends.  Once that happened for Adler, the older of the two, Pottle stopped going to the hideout.  He didn't want to go alone.

		p As they approached, he admitted to Marsa that it wasn't much of a hideout, more of an overlook. He pointed it out to her from the river, and told her that the path that led to it was precarious, obscured and not obvious.

		p He wore a sword, which she chided him for, but he insisted that dangers lurked in the woods.  He lied. He wanted her to be wary.  He didn't remember telling her about the hideout but he must have.  Recently she asked him about it.  At first she just wanted him to describe it.  Then later, she asked more specific questions. He figured out she had been searching for it on her own.  He didn’t like that.  This part of the forest lay near the boundary with the Trolls.  There had never been any danger to him going there, even as a child, but she was a girl and it was unseemly for her venture there on her own.

		p He asked her if she had gone by herself, and she said, "Of course not, silly.  What do you take me for?"  He wondered who went with her.  He considered asking her, but decided not to.  She might read into his question and assume he was jealous. So, he wore his sword that day in hope that she wouldn't ever try to go there again with anyone other than him. 

		p When she had asked him to take her there he laughed at first.

		p "Are you mocking me?" she said with a smile, but he knew her well enough to see the injury in her question.

		p "No," he said quickly while still laughing.

		p "Now you're patronizing me, Pottle Selter.  I don't believe I like that."  She turned her back to him and folded her arms across her chest.  He reached and grabbed her lightly by the shoulders and spun her back to face him.  When he saw her face guilt pressed the breath from his chest.  She smiled but her cheeks were rosy and tears glistened on her eyes.  He held her shoulders in his hands.  Her face twitched in the manner of someone holding back a sob.  In that moment, in that light, he felt like he could see her for exactly who she was.  For him, there were two Marsa's.  The one in his memories, in his mind's eye, that smiled and danced barefoot in the grass in the waning light of the day.  The other stood before him now, the actual Marsa.  The one his mother never failed to remind him was a bit too narrow at the hips, and whose breasts were too small for her frame.  There were prettier girls.  However, he preferred his Marsa, the light spirit who listened to and appreciated him.  But in moments like this, when he saw what everyone else saw, he felt like he had been the one to diminish her and end her dance.

		p "I'm not mocking you," he told her.

		p "Promise?" she asked.

		p "Yes," he said, unable to say anything else.

		p It took him a few days to arrange their visit to the hideout.  He chose the day when the clan celebrated a harvest feast.  The festivities provided the cover they needed to sneak away.  Both of them had recently come of age, and their parents kept a close watch on them. For their parents, this time mattered.  How they were perceived would affect their marriage prospects.  Marsa's parents didn't want her alone with any boy for fear of scaring off better suitors.  Pottle's parents wanted Pottle distanced from Marsa.  "Insinuation leads to obligation," his father would say.

		p Marsa's parents worked to demonstrate how she would make a good match for one of Pottle's older brothers "But why do you want to marry the runt, dear?" her mother would say.  "He doesn't stand to inherit anything and besides, he's wistful.  You can't rely on wistful people, they don't know the truth to speak it."  But that only drove her thoughts further towards him.  

		p Pottle's parents, his mother especially, didn't care to find a match for him yet.  She had two older boys to marry and her plans didn't involve Marsa for either.  She would say to her friends, "A Selter marry a Baster?  We haven't worked this hard to keep this valley for this long to let a Baster get a piece!"  

		p Still, they stole time to spend together.  She told others that she loved him and she would take risks.  She spoke of Pottle with great pride and liked to brag about one day being a Selter.  Pottle was the more cautious of the two.  He arranged their time together, carefully and with a great deal of thought.  

		p When they arrived at the rise Pottle couldn’t remember where to find the narrow path up.  "I haven't been here for years," he told her.  "I remember it bigger than anything I see here," he explained.

		p "You were smaller then," she said and then giggled.  "I remember the smaller you!  You were so adorable," she said.

		p He didn't know how to respond to her when she said things like that.  So, he smiled.  "My father says that they're going to Breezedale after the Feast.  It's time to find more Initiates." 

		p And like that he shifted their talk to something separate from them.  It almost didn't work; she asked if he would be going with his father to Breezedale.  "You’d' be gone a almost two twelve-days!"

		p But he quickly assured her he wasn’t going and then steered the conversation back to the topic of the Initiates and the work needed to ready for the oncoming winter.  He looked down at his own reflection in the river.  The current distorted the image, and all he saw looking back at him was something a little off of what he gave to the river.  He looked over again at Marsa. He wanted to talk about other things.  He hoped to tell her his suspicions about his dad but it didn't feel right.  He preferred when they could talk, when he could share his thoughts and she would give hers. 

		p Once he identified the path Marsa looked dubious and questioned if this was really the way.  He assured her and helped her up the narrow, rocky scramble.  By the time they reached the top she was out of breath.  Leaves and twigs covered the old fire pit, but the rock circle still remained.  He cleared away what the forest had covered, then he stood up, spread his arms wide and presented to her the imaginary kingdom of his childhood.  For him, it was just a bit of showmanship, and as soon as he had finished the gesture, he reached down to unbuckle his sword belt so that he could sit more comfortably, Before he could finish unbuckling it, she rushed him, wrapped her arms around him and held him in a firm embrace.  She buried her face in his chest.

		p He stiffened, then put his arms around her and closed his eyes.  He inhaled deeply. Her hair smelled of lavender.

		p She pulled away slightly, just enough to look up at his face.  She beamed.  But when he looked at her, he still saw the awkward Marsa that everyone else saw.  He saw expectation in her eyes.  He smiled and disengaged.  He recounted stories of how he and Adler spent their time there.  He held her hand and pulled her around the little outcropping, pointing out views and nooks and crannies.  "Here's where we used to pretend to keep our buried treasure.  And over here, see out past that rock formation to those peaks beyond the forest?  That's where the dragon that plagued our kingdom perched!"

		p Whenever she pressed herself close to him, that's how he would react.  He'd tell her something about who he used to be to keep her safely away from himself.  It had always worked before; she devoured all he would offer up.  But that changed; he felt her disappointment, this time.  He sensed that she understood what he did.

		p "And right here I used to store berries: raspberries were rubies, blueberries were sapphires.  And when we'd return the next time, they'd be gone or rotted.  There are too many squirrels in this part of the woods.  We knew that but it was more fun to say treasure hunters had found our hideout and we need to go off and hunt them down.  We'd charge into the woods until we found a berry patch and then loot it.  Adler used to eat the berries and that made me so mad.  I'd tell him only dragons ate gemstones and then he'd start pretending he was dragonkind, and that scared me."

		p "Really?"

		p "Yeah.  I know it sounds silly, but when he'd say it part of me believed it might be true," Pottle said with a laugh.  "And what if it were?  Was I like him, a dragonkind?  Or was he someone I didn't know.  It was scary.  Hey, don't look at me with that motherly face.  I was six years old.  Anything is possible when you're six."

		p He spread his cloak out on the ground for her to sit on.  "We don't want anyone to know we were in the woods," and then he started a fire in the pit.  They sat by the fire and ate the cakes that Marsa had snuck in the pockets of her dress.

		p "Pottle," she said.

		p He looked up at her.  They sat next to each other. He leaned on his hands. She sat upright.

		p "Do you love me?"

		p He was inclined to flip the question back on her and ask if she loved him, but he didn't.  "Your mother wants you to marry Girrit," he said instead, referring to his oldest brother, and the next in line to inherit Selter Valley.

		p She looked down and smoothed the folds of her dress.  Looking up through her brow at him, Pottle thought she looked inquisitive or searching, then she smiled in devilish way.  And he saw her again, as the Marsa he knew.  She reached for the tie at the top of her bosom and began to pull on it.

		p "No," he said.  He hoped she didn't hear the crack in his voice and think he was nervous.  That would embolden her. 

		p She froze, her mouth opened a little in surprise and then her face turned crimson with embarrassment.  "I just thought that's what you wanted," she stammered.  "I just ... I just thought if I offered up ... I love you," she finally said and she began to cry.  "This isn't how it's supposed to happen," she said through sobs.

		p He sat up and reached out to her with one hand to console her but she brushed it aside and pivoted slightly away from him.  And for a moment he asked himself what he was doing there.  He thought about the feast back at the farmhouse and was struck with the realization that he wished he were there.  But then another sob shook her and he just wanted her to stop crying.  "Look at me," he said.  His voice shook with emotion and guilt.  She turned to face him and he kissed her.  When their lips met, her arms reached out and pulled him closer.  Then she pulled back slightly, looked into his eyes and smiled.  Tears still trailed down her face.  Her cheeks were still flush.  She hugged him again, so tightly that he could feel her bosom pressed against his chest.  It felt soft like nothing he had ever felt. 

		p "I love you," she said.

		p He pulled back slightly and kissed her one more time.

div.row
	div#email-pitch.large-5.large-centered.medium-7.medium-centered.small-12.small-centered.columns
		hr
		p Want to know when more writing comes availalbe?  Leave me your email address.
form#email-form(action="https://store.gooseberrypublishing.com/email/add/", method="POST", data-abide)
	div.row
		div#email-box.large-5.large-centered.medium-7.medium-centered.small-12.small-centered.columns
			div.row.collapse
				div.large-10.large-centered.medium-10.medium-centered.small-9.small-centered.columns
					input(name="email", type="email", required, placeholder="you@somewhere.com")
				div.large-2.medium-2.small-3.columns
					input.postfix.small.button(type="submit", value="add me")
div.row
	div#result.large-5.large-centered.medium-7.medium-centered.small-12.small-centered.columns
		a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://cshenley.com/writing/arrangements.html", data-via="cs_henley", data-hashtags="endleland") Tweet
		span#tumblr_button_abc123


script.
	$(document).ready(function() {
		$("#email-form").submit(function(event){
			event.preventDefault();
			var $form = $(this);
			email = $form.find("input[name='email']").val();
			url = $form.attr("action");

			$.ajax({
				type: 'POST',
				url: url,
				data: {email: email},
				success: function(response, textStatus, jqXHR) {
					$("#email-box").empty();
					$("#email-pitch").empty().append("<hr /><p>Thanks!</p>");
				},
				error: function(jqXHR, textStatus, errorThrown){
					$("#email-box").empty();
					$("#email-pitch").empty().append("<hr /><p>Thanks!</p>");
				}
			});
		});	
	});
script.
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	var tumblr_link_url = "http://cshenley/writing/arragments.html";
	var tumblr_link_name = "Arrangements by CS Henley";
	var tumblr_link_description = "Arrangements is a short story about the relationship between Pottle Selter and Marsa Basters, two important characters in the upcoming novel On Their Own.";
	var tumblr_button = document.createElement("a");
	tumblr_button.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
	tumblr_button.setAttribute("title", "Share on Tumblr");
	tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;");
	tumblr_button.innerHTML = "Share on Tumblr";
	document.getElementById("tumblr_button_abc123").appendChild(tumblr_button);



