div.row
	div#logo-title.large-8.large-centered.medium-10.medium-centered.small-10.small-centered.columns
		h1 Gooseberry Publishing
div.row
	div.large-8.large-centered.medium-10.medium-centered.small-10.small-centered.columns
		p Gooseberry is a boutique publishing house located in San Francisco, CA.  As writers, we were frustrated by the number of hands our books passed through before they got to our readers.  We’re creating Gooseberry as a  more direct means for writers to reach their readers.
		p If you’re interested in learning more, please contact us at 
			a(href="mailto:writers@gooseberrypublishing.com") writers@gooseberrypublishing.com
