@cool-white: #fbfcfc;
@black-blue: #6b6c7b;

body {
  background-color: @cool-white;
  padding: 0;
  margin: 0;
}

header {
  img.banner { width: 100%; }
  margin-bottom: 2rem;
}

div#logo-title {
  h1 {
    text-align: center; 
    margin-top: 0.0rem;
    margin-right: 1.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2.15rem;
  } 
  img { 
    float: left;
    margin-right: 0.5rem;
  }
}
p {
	font-family: 'Open Sans', sans-serif;
  margin-top: 1.5rem;
}
